<!DOCTYPE html>
<html lang="en">

<head>
{% templatetag openblock %} include "head.html" {% templatetag closeblock %}
{% templatetag openblock %} block extrahead {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
</head>

<body>

{% templatetag openblock %} include "navbar.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

{% templatetag openblock %} include "tail.html" {% templatetag closeblock %}

{% templatetag openblock %} block scripts {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}

</body>
</html>