{% templatetag openblock %} extends "project_name/base.html" {% templatetag closeblock %}

{% templatetag openblock %} block content {% templatetag closeblock %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Site Name</h1>
      <h3>Log In</h3>
    </div>
  </div>

  {% templatetag openblock %} if form.errors {% templatetag closeblock %}
  <div class="row">
    <div class="col-md-offset-3 col-md-6 alert alert-warning alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {% templatetag openblock %} for error in form.non_field_errors {% templatetag closeblock %}
      <p><strong>Oops:</strong> {% templatetag openvariable %} error {% templatetag closevariable %}</p>
      {% templatetag openblock %} endfor {% templatetag closeblock %}
    </div>
  </div>
  {% templatetag openblock %} endif {% templatetag closeblock %}


  <div class="row">
    <div class="col-md-offset-3 col-md-6 well">

      <form class="form-horizontal" role="form" method="post" action="{% templatetag openblock %} url 'django.contrib.auth.views.login' {% templatetag closeblock %}">
        {% templatetag openblock %} csrf_token {% templatetag closeblock %}

        <div class="form-group">
          <label for="username" class="col-md-2 control-label">Username</label>
          <div class="col-md-10">
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="col-md-2 control-label">Password</label>
          <div class="col-md-10">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-8 col-sm-4">
            <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </div>
        </div>

        <input type="hidden" name="next" value="{% templatetag openvariable %} next {% templatetag closevariable %}" />
      </form>

    </div>
  </div>
</div>
{% templatetag openblock %} endblock {% templatetag closeblock %}