{% templatetag openblock %} include "project_name/head.html" {% templatetag closeblock %}
{% templatetag openblock %} include "project_name/navbar.html" {% templatetag closeblock %}
{% templatetag openblock %} block content {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}
{% templatetag openblock %} include "project_name/tail.html" {% templatetag closeblock %}
{% templatetag openblock %} block scripts {% templatetag closeblock %}{% templatetag openblock %} endblock {% templatetag closeblock %}